:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
form{
  display: flex;
  text-align: start;
  flex-direction: column;
  width: 100%;
  button{
    align-self: center;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button, .input-doc {
  margin: 10px 0;
  width: 100%;
  color:rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}
button{
  cursor: pointer;
}
button:hover, .input-doc:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible,
.input-doc:focus,
.input-doc:focus-visible
{
  outline: 4px auto -webkit-focus-ring-color;
}

table, table tr th{
  border: 1px solid white;
  tr{
    th{
      padding: 5px 20px 5px 20px;
    }
    td{
      padding: 20px;
    }
  }
}
